<footer class="site-footer">
  <div class="container footer__grid">
    <div class="footer-brand">
      <img class="footer-logo" src="/assets/img/brand/Logo3.png" alt="Logo">
    </div>

    <div>
      <h4>Información</h4>
      <ul>
        <li>Posadas, Misiones</li>
        <li>Lunes a Viernes de 18:00 a 20:00</li>
      </ul>
    </div>

     <div>
    <h4>Redes</h4>
      <div class="footer-icons">
        <a class="icon-link" href="https://wa.me/5493764282608" target="_blank" rel="noopener" aria-label="WhatsApp">
          <i class="bx bxl-whatsapp"></i>
        </a>

        <a class="icon-link" href="https://www.instagram.com/institutosanmartiniano/" target="_blank" rel="noopener" aria-label="Instagram">
          <i class="bx bxl-instagram"></i>
        </a>

        <a class="icon-link" href="mailto:institutosanmartiniano@gmail.com" aria-label="Email">
          <i class="bx bx-envelope"></i>
        </a>

        <a class="icon-link" href="https://maps.app.goo.gl/wp9TSvr6ARjV7n2F7" target="_blank" rel="noopener" aria-label="Ubicación">
          <i class="bx bx-map"></i>
        </a>
      </div>
  </div>

    <div>
      <h4>Accesos</h4>
      <ul>
        <li><a href="/pages/carreras.html">Oferta Académica</a></li>
        <li><a href="/pages/inscripciones.html">Cómo inscribirse</a></li>
        <li><a href="/pages/novedades.html">Novedades</a></li>
        <li><a href="/pages/contacto.html">Contacto</a></li>
      </ul>
    </div>
  </div>

  <div class="container footer__bottom">
    <small>© <span id="year"></span> Instituto Superior Sanmartiniano </small>
    <small class="dev-credit">
    Desarrollado por Soluciones Informáticas
    </small>
  </div>

</footer>
